
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/
h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	text-transform:;
	font-family: 'arial';
	font-weight: 400;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #560969;
}

a:hover {
	text-decoration: underline;
}

img.border {
	border: 6px solid #EEE7DF;
}

img.alignleft {
	float: left;
	margin-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

#wrapper {
    height: 300px;
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header-wrapper {
	height: 97px;
	
}

#header {
	width: 960px;
	height: 0px;
	margin: 0 auto;
}

/* Logo */

#logo {
	width: 0px;
	height: 0px;
	margin: 0 0 0 3%;
	padding: 0 20px 0 20px;
	color: #FFFFFF;
}

#logo h1, #logo p {
	display: block;
	margin: 50px;
	padding: 0px;
	text-transform: uppercase;
}

#logo h1 {
	letter-spacing: -5px;
	text-align: center;
	text-transform: uppercase;
	font-size: 80px;
	color: #FFFFFF;
}

#logo h1 a {
	color: #FFFFFF;
}

#logo p {
	margin-top: -25px;
	text-align: center;
	font-family: 'Abel', sans-serif;
	font-size: 25px;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}
.fieldDiv input[type="text"],.fieldDiv select{
    width: 250px;
}
.fieldDiv input[type="password"],.fieldDiv select{
    width: 250px;
}
.fieldLableDiv input[type="text"],.fieldDiv select{
    width: 140px;
}
.fieldLableDiv{
	width: 305px;float:left;padding-top: 10px;
}
input[type="text"],.fieldDiv select{
    --webkit-border-radius: 5px;
    -moz-outline-radius: 7px;
    background: none repeat scroll 0 0 #fff;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12) inset;
    color: #404040;
    height: 34px;
    /*margin: 10px 0;*/
    outline: 3px solid rgba(200, 105, 137, 0.09);
    padding: 5px;
    font-weight: bold;
    color:red;
}
input[type="password"],.fieldDiv select{
    --webkit-border-radius: 5px;
    -moz-outline-radius: 7px;
    background: none repeat scroll 0 0 #fff;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12) inset;
    color: #404040;
    height: 34px;
    /*margin: 10px 0;*/
    outline: 3px solid rgba(200, 105, 137, 0.09);
    padding: 0 10px;
}
input[type="text"],.viewCheetyOut select{
    --webkit-border-radius: 5px;
    -moz-outline-radius: 7px;
    background: none repeat scroll 0 0 #fff;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12) inset;
    color: #404040;
    height: 34px;
    /*margin: 10px 0;*/
    outline: 3px solid rgba(200, 105, 137, 0.09);
    padding: 5px;
    font-weight: bold;
    color:red;
}
input[type="text"],.fieldDiv1 select{
    --webkit-border-radius: 5px;
    -moz-outline-radius: 7px;
    background: none repeat scroll 0 0 #fff;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12) inset;
    color: #404040;
    height: 34px;
    /*margin: 10px 0;*/
    outline: 3px solid rgba(200, 105, 137, 0.09);
    padding: 0 10px;
}
input {
    font-family: "Trebuchet MS",tahoma;
    font-size: 14px;
}
input[type="submit"] {
    background-color: #7d0f33;
    border-color: #693647;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px #cd4170 inset, 0 1px 2px #93284c;
    box-sizing: content-box;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    height: 29px;
    outline: medium none;
    padding: 0 10px;
    text-shadow: 0 1px #4d1124;
}
input[type="button"] {
    background-color: #7d0f33;
    border-color: #693647;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px #cd4170 inset, 0 1px 2px #ffffff;
    box-sizing: content-box;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    height: 29px;
    outline: medium none;
    padding: 0 10px;
   /* text-shadow: 0 1px #4d1124;*/
}
/* Search */
#search {
	float: right;
	width: 280px;
	height: 100px;
	padding: 0;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 60px 0 0 30px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 195px;
	padding: 6px 10px;
	border: none;
	background: #FFFFFF;
	text-transform: uppercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #7F7F81;
}

#search-submit {
	display: none;
}

/* Menu */

#menu-wrapper {
	width: 1100px;
	height: 60px;
	margin: 0px auto;
	padding: 0px;
	background: #33820F url(../images/menu-wrapper-bg.png) repeat-x left top;
}

#menu {
	margin: 0;
	padding: 0px 20px;
	list-style: none;
	line-height: 60px;
	letter-spacing: -1px;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 2px 2px 2px #2E7C0E;
	font-family: 'Abel', sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #FFFFFF;
}

#menu li {
	float: left;
	margin-right: 1px;
}

#menu a {
	display: block;
	float: left;
	height: 60px;
	margin: 0px;
	color: #FFFFFF;
}

#menu .current_page_item a {
	text-shadow: 2px 2px 2px #1B5803;
	background: #560969;
}

#menu a:hover {
	background: #560969;
	text-decoration: none;
	text-shadow: 2px 2px 2px #1B5803;
	color: #FFFFFF;
}

#menu span {
	padding: 0px 20px;
}

#menu > li {
}

#menu > li.active {
	background: #560969;
	color: #FFFFFF;
}

.dropotron li.opener {
	border-right: solid 2px #FFFFFF;
}

.dropotron {
	margin: 0px;
	padding: 10px 0px;
	background: #560969;
	list-style: none;
	text-transform: uppercase;
	font-family: 'Baskerville Old Face', sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;
}

.dropotron a {
	color: #fff;
	text-decoration: none;
}

.dropotron li {
	margin: 0px;
	padding: 5px 20px;
}

.dropotron li:hover, .dropotron li.active {
	background: #750C8E;
}

/* Page */

#page {
	width: 1100px;
	margin: 0px auto;
	padding: 0px;
}

/* Content */

#content {
	float: right;
	width: 879px;
	background: #FFFFFF url(../images/content-bg.png) repeat-y left top;
}

#content .contentbg {
	width: 845px;
	min-height: 436px;
	height: auto;
	/*padding: 30px 30px 0px 30px;*/
	background: url(../images/content-bg-bottom.png) no-repeat left bottom;
}
/*
.post {
	clear: both;
	padding-bottom: 10px;
	border-bottom: 1px solid #DEDEDE;
}
*/
.post .title {
	padding-top: 10px;
	letter-spacing: -4px;
	text-transform: uppercase;
	font-size: 50px;
	color: #560969;
}

.post .title a {
	border: none;
	color: #560969;
}

.post .meta {
	padding-bottom: 10px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.post .meta a {
}

.post .entry {
	text-align: justify;
	margin-bottom: 25px;
	padding: 10px 0px 0px 0px;
}

.links {
	display: block;
	width: 96px;
	padding: 2px 0px 2px 0px;
	background: #A53602;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar-bg {
	float: left;
	width: 330px;
	background: url(../images/sidebar-shadow-bg.png) repeat-y left top;
}

#sidebar {
	overflow: hidden;
	width: 270px;
	padding: 30px 30px 20px 30px;
	background: url(../images/sidebar-bg-bottom.png) no-repeat left bottom;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	padding-left: 30px;
	line-height: 35px;
	background: url(../images/img01.gif) no-repeat left 5px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 38px;
	margin-bottom: 20px;
	padding: 12px 0 0 0px;
	background: url(../images/sidebar-icon-arrow.png) no-repeat right 50%;
	border-bottom: 1px solid #F1DAF7;
	letter-spacing: -2px;
	font-size: 30px;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	width: 650px;
	height: 100px;
	margin: 0px auto;
	padding-left: 330px;
}

#footer p {
	margin: 0;
	padding-top: 18px;
	line-height: normal;
	letter-spacing: -1px;
	text-align: center;
	text-shadow: 1px 1px 1px #050505;
	
	font-family: 'Abel', sans-serif;
	font-size: 20px;
	color: #525050;
}

#footer a {
	text-decoration: underline;
	color: #525050;
}

#slider {
	position: relative;
	width: 590px;
	margin: 0px auto 20px auto;
}

#slider .viewer {
	width: 590px;
	height: 300px;
	overflow: hidden;
	margin: 0 auto;
}

#slider .viewer .reel {
	display: none;
	height: 300px;
}

#slider .viewer .reel .slide {
	position: relative;
	width: 590px;
	height: 300px;
}


.input {
    border: 1px solid #006;
    background: #ffc;
}
.input:hover {
    border: 1px solid #f00;
    background: #ff6;
}
.button {
    border: none;
    background: url('../images/OvalTxtDdd0.gif') no-repeat top left;
    padding: 2px 8px;
}
.button:hover {
    border: none;
    background: url('../images/OvalTxtDk0.gif') no-repeat top left;
    padding: 2px 8px;
}
label {
    display: block;
    width: 217px;
    float: left;
    color: red;	
    font-family: sans-serif;
    font-size: 15px;
    /*margin: 2px 4px 6px 4px;
    text-align: right;*/
}
br { clear: left; }

/* Search */

#search {
}

#search h2 {
	margin-bottom: 20px;
}

#s {
	width: 115px;
	margin-right: 5px;
	padding: 3px;
	border: 1px solid #BED99C;
}

#x {
	padding: 2px;
	border:dotted;
    font-weight: bold; 
	background: #7d0f33;
	text-transform: uppercase;
	font-size: 11px;
	color: #FFFFFF;
}

/* font */
table.color { 
	color: DarkMagenta;
    font-weight: bold;
}
tr.first { 
	color: DarkMagenta;
    font-weight: bold;
}
td.second
{
	color: DarkBlue;
	font-weight: bold;
	text-align:center;
}

input.color
{
  color: #7d0f33;
  font-weight: bold;
}
select.color
{
  color: #7d0f33;
  font-weight: bold;
}
caption.color
{
  color: DarkMagenta;
  font-weight: bold;
}
.headingDiv{
color:#851E9F;
font-size:14px;
text-align: center;
font-weight: bold;
}
.post{
	margin-left:190px;
	float:left;
}
.post1{
	margin-left:100px;
	float:left;
}
.regOutDiv{
	width:880px;
	float:left;
	padding:10px;
}
.regInnerDiv{
	width:848px;
	padding: 10px 26px;
	float:left;
}
.adminRegInnerDiv{
	width:290px;
	padding: 10px 100px;
	float:left;
}
.adminRegisterDiv{
	width:475px;float:left;margin-left:180px;
}
.regInnerDiv-profit{
	float: left;
    margin-left: 22px;
    padding: 10px 60px;
    width: 645px;
}
.regInnerDiv-profit-colloction{
	width:645px;
	padding: 10px 60px;
	float:left;
	margin-left: 124px;
}
.registerLeftLast{
	width:338px;
	float: left;
}
.registerLeft{
	width:320px;
	float: left;
}
.registerRightLast{
	width:338px;
	float: left;
}
.registerRight{
	width:320px;
	float: left;
}
.registerDiv{
	width:860px;float:left;
}
.registerSaveDiv{
	float: left;
    padding-left: 60px;
    width: 722px;
    border: 2px solid #000000;
}
.headDiv{
	color: #415f5f;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 600px;
    font-family: arial;
    /*padding: 20px;*/
}
.headDeleteDiv{
	color: #415f5f;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 600px;
    font-family: arial;
    padding: 20px;
}
.headRoleDiv{
	color: #7d0f33;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 274px;
    font-family: arial;
    padding: 5px;
}
.view-admin-headRoleDiv{
	color: #7d0f33;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 274px;
    font-family: arial;
    padding: 5px;
    margin-left: 240px;
}
.adminSubmitDiv{
	color: #415f5f;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 200px;
    font-family: arial;
    padding: 20px;
}
.headDiv input[type="submit"]{
	margin-top: 25px;
    padding: 5px;
}
.dispalMsg{
	color: #1e90ff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 600px;
}
.headDivErr{
	color: red;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 600px;
}
.fieldDiv{
	width:250px;
	padding: 5px;
}
.fieldDivLast{
	width:323px;
	padding: 5px;
	float: left;
	border-top: medium solid #7d0f33;
	border-left: medium solid #7d0f33;
	border-right: medium solid #7d0f33;
}
.lableFont{
	font-weight: bold;
	font-size: 12px;
	margin-top: 10px;
	width: 125px;
	float:left;
	font-family: arial;
	color: darkblue;
}
.lableFontRes{
	 color: sienna;
    float: left;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    width: 198px;
}
.lableFontResName{
	 color: sienna;
    float: left;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    width: 206px;
}
.update-payment-search-out{
	width:600px;float:left;	margin-left: 50px;
}
.download-out{
	width:860px;float:left;margin-top: 20px;	
}
.update-payment-search-inner{
	width:600px;float:left;border-radius: 7px;padding:10px;border: 2px solid;	
}
.update-payment-userId{
	width:100px;float:left;margin-top: 7px;font-weight: bold;font-size: 16px;font-family: arial;text-align: center;
}
.update-payment-textbox{
	width:155px;float:left;
}
.update-payment-textbox1{
	width:155px;float:left;margin-top: 6px;
}
.update-payment-submit{
	width:80px;float:left;margin-left: 20px;
}
.update-payment-update-outdiv{
	border: 2px solid;
    border-radius: 7px;
    float: left;
    margin-top: 5px;
    padding-bottom: 11px;
    width: 715px;
}
.update-payment-update-InDiv{
	float: left;
    width: 715px;
}
.update-payment-update-leftDiv{
	float: left;
    width: 357px;
}
.update-payment-update-rightDiv{
	float: left;
    width: 357px;
}
.delete-payment-update-outdiv{
	width:420px;float:left;margin-left: 82px;border: 2px solid;border-radius: 7px;margin-top: 5px;padding-bottom: 11px;
}
.update-payment-update-outdiv-one{
	width:400px;float:left;margin-left: 170px;border: 2px solid;border-radius: 7px;margin-top: 15px;padding-bottom: 11px;
}
.update-payment-update-outdiv-one1{
	width:370px;float:left;margin-left: 95px;border: 2px solid;border-radius: 7px;margin-top: 15px;padding-bottom: 11px;
}
.headDivSuccessMsg{
	width:333px;margin-top:7px;margin-left: 20px;font-family: arial;
}
.update-payment-update-flied-out{
	float: left;
    width: 448px;
}
.update-payment-update-flied-out-one{
	width:400px;float:left;
}
.update-payment-update-flied-lable{
	color: darkred;
    float: left;
    font-family: arial;
    font-weight: bold;
    margin: 20px;
    width: 110px;
    font-size: 14px;
}

.update-payment-update-outdiv1 {
    border: 2px solid;
    border-radius: 7px;
    float: left;
    margin-left: 131px;
    margin-top: 5px;
    padding-bottom: 11px;
    width: 380px;
}
.update-payment-update-flied-submit1 {
    float: left;
    margin-left: 151px;
    width: 585px;
}
.update-payment-update-flied-lable-one{
	color: blue;
    float: left;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: 20px;
    width: 124px
}
.update-payment-update-flied-lable-out{
	width:250px;float:left;margin-top: 8px;
}
.update-payment-update-flied-lable-out-one{
	float: left;
    margin-top: 8px;
    width: 236px;
}
.update-payment-update-flied-submit{
	width:585px;float:left;margin-left: 300px;
}
.delete-payment-update-flied-submit{
	width:150px;float:left;margin-left: 130px;
}
.headerOut{
	padding-left: 17px;
    padding-top: 6px;
    float:left;
    width:1110px;
}
.headerIn{
	font-family: monospace,Helvetica,sans-serif;
    font-size: 73px;
    font-weight: bold;
    color: #00FFFF;
    width:240px;
    float:left;
}
.styleImg{
	text-decoration:none;
	border: none;
	outline: none;
}
.kiranStyle{
	float:right;
	width:220px;
	margin-right:40px;
}
.profit-lable-name{
	color: #7d0f33;
    float: left;
    font-family: arial;
    font-weight: bold;
    margin-top: 5px;
    width: 120px;
}
.profit-lable-input{
	width:200px;float:left;
}
.profit-lable-Out{
	width:320px;float:left;
}
.daily-lable-Out{
	width:320px;margin-left: 150px;
}
.profit-OutDiv{
	width:750px;float:left;
}
.profit-OutDiv-collection{
	width:595px;float:left;
}
.profit-InDiv{
	width:645px;float:left;
}
.profit-result-Out{
	width:750px;float:left;
}
.profit-result-Out-collection{
	width:595px;float:left;
}
.td-header{
	color: #1e90ff;font-size: 14px;font-weight: bold;width: 70px;font-family: arial;text-align: center;
}
.td-header-ld{
	color: #1e90ff;font-size: 14px;font-weight: bold;width: 100px;font-family: arial;text-align: center;
}

.td-header-date{
	color: #1e90ff;font-size: 14px;font-weight: bold;width: 90px;font-family: arial;text-align: center;
}
.td-header-sno{
	color: #1e90ff;font-size: 14px;font-weight: bold;width: 60px;font-family: arial;text-align: center;
}
.td-header-name{
	color: #1e90ff;font-size: 14px;font-weight: bold;width: 130px;font-family: arial;text-align: center;
}
.td-header-paid{
	color: #1e90ff;font-size: 14px;font-weight: bold;width: 110px;font-family: arial;text-align: center;
}
.td-header-item{
	color: #1e90ff;font-size: 14px;font-weight: bold;width: 200px;font-family: arial;text-align: center;
}
.td-header-item-res{
	color: #ba2f14;font-size: 14px;width: 200px;font-family: arial;text-align: left;
}
.tr-header{
	color: #ba2f14;font-size: 14px;width: 70px;font-family: arial;text-align: center;
}
.tr-header-date{
	color: #ba2f14;font-size: 14px;width: 90px;font-family: arial;text-align: center;
}
.tr-header-sno{
	color: #ba2f14;font-size: 14px;width: 60px;font-family: arial;text-align: center;
}
.tr-header-name{
	color: #ba2f14;font-size: 14px;width: 220px;font-family: arial;text-align: left;
}
.tr-header-paid{
	color: #ba2f14;font-size: 14px;width: 110px;font-family: arial;text-align: center;
}
.profit-tot{
	color: red;font-family: arial;text-align: center;width: 90px
}
#profit-download{
	 color: red;cursor: pointer;float: left;font-size: 15px;font-weight: bold;text-align: right;width: 750px;font-family: arial;
}
.downloadResultDiv{
	float: left;margin-left: 50px;margin-top: 50px;width: 630px;font-family: arial;
}
.headDivMsg{
	width:253px;margin-top:10px;margin-left: 146px;font-family: arial;
}
.headRoleDivMsg{
	width:212px;margin-top:10px;margin-left: 25px;font-family: arial;
}
.productDivMsg{
	width:253px;margin-top:10px;margin-left: 75px;font-family: arial;
}
.update-payment-userId1{
	 float: left;font-family: arial;font-size: 16px;font-weight: bold;margin-left: 104px; margin-top: 7px;
    text-align: center;width: 100px;
}
.update-payment-textbox2{
	 float: left; width: 202px;
}
.update-payment-submit1{
	float: left;margin-left: 26px;width: 80px;
}